*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Camphor Pro", sans-serif;
    box-sizing: border-box;
}

.nav-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    position: fixed;
    box-shadow: 0 6px 16px 0 rgba(25, 25, 25, .06);
    background-color: azure;

}

.nav-1 , .nav-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.nav-1 img{
    width: 30px;
}

.nav-1 a, .nav-2 a{
    color: rgb(108 100 100);
    /* font-family: math; */
    font-family: "Camphor Pro", sans-serif;
    font-weight: 400;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    
}

.nav-1 a:hover , .nav-2 a:hover{
    color: rgb(255, 132, 9);
    border-bottom: 2px solid rgb(255, 132, 9);
}

.carsole {
    width: 100%;
    height: 480px;

}

.carsole img{
    height: 480px;
    width: 100%;    
    
}

.carsole-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
/* 
.carsole-btn1{
    position: absolute;
}

.carsole-btn1 button{
    width: 30px;
    height: 30px;
    background: red;
}

.carsole-btn{
    position: absolute;
}
.carsole-btn1 button{
    width: 30px;
    height: 30px;
    background: red;
}
 */
.carsole-text{
    position: absolute;
    padding: 100px;
    width: 400px;

}

.carsole-text h2{
    padding-bottom: 10px;
    font-size:28px;
    font-weight: bold;
}

.carsole-text h4{
    padding-bottom: 10px;
    width: 250px;
    font-weight: bold;
}

.sec-2{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    
}
.sec-2-head div{

    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 60px; 
    font-size: 20px; 
    text-align: center;
       
      
}
.sec-2-head h4{
    text-align: center;
    font-size: 28px;
    padding-bottom: 50px;
}

.sec-2-head a{
    color: rgb(115, 115, 115);
   
}


.product{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow:hidden;
    margin-top: 20px;
    margin-bottom: -30px;
}

.product-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 20px; */
    background: rgb(241, 241, 241);
    border-radius: 6px;
    margin: 20px;
}

.product-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    
}

.product-1:hover img {
    transform: scale(0.9);
  }
.product-1 h2,.product-1 h4{

    display: flex;
    justify-content: center;

}

.product-card{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.card{
    background: rgb(241, 241, 241);
    margin: 20px;
    padding-bottom: 70px;
    border-radius: 6px;
    
}
.card img{
    transition: transform 0.3s ease-in-out;
}
.card:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.card h4{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
    
    
}

.card h5{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
    
}

.sec-3{
    text-align: center;
    padding-top: 100px;
}

.offer{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 100px;
}

.offer-card{
    margin: 10px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-bottom: 30px;
}


.offer-card img{
    margin: 10px;
    width: 300px;
    height:200px;
    position: relative;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.offer-card:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.sec-4{
    text-align: center;
    padding-bottom: 50px;
}
.sec-4 h2{
    padding-bottom: 20px;
}
.explore{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    overflow-x: auto;

}

.explore::-webkit-scrollbar{
    width: 0;
}

.explore-card{
    margin: 10px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-bottom: 30px;
}

.explore-card img {
    padding-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}
.explore-card:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.support{
    display: flex;
}


.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 50px;
    padding-bottom: 20px;
    
}
.footer-sub{
   display: flex;
   flex-direction: column;
   justify-content: start;
   text-align: start;
   color: rgb(228, 228, 228);   

}

.footer-sub a{
    color: gray;
    line-height: 26px;
}
.footer-sub h4{
    padding-bottom: 10px;
}

.social{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

}

.footer-sub input{
    border-radius: 6px;
    width: 100%;
    height:40px;
    margin-bottom: 60px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding-left: 10px;
}

footer p,hr{
    margin-left: 50px;
    margin-right: 50px;
    color:gray;
    font-size: 15px;
    line-height: 45px;

}





















































